#msgpark{
    position: absolute;
    top: 70%;
    left:30%;
    width: 40%;
    text-align: center;
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#parknowbtn{
    display: grid;
    margin: auto;
    position: absolute;
    top: 85%;
    left:43%;
    width: 190px;
    height: 50px;
    background: #FCD93B 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    align-items: center;
    text-align: center;
    font-size: 25px;

}
#btn2{
    display: grid;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 1158px;
    width: 50px;
    height: 25px;
    background: #FCD93B 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    align-items: center;
    text-align: center;
    font-size: 10px;

}
#parknow{
    position: absolute;
    top: 10%;
    left:30%;
    width: 40%;
}
